h1{
    color: brown;
}
h2{
    background-color: dimgray;
    color: white;
    text-align: center;
}
h3{
    color: blue;
}
nav ul {
    background-color: dimgrey;
    color: white;
    width:50;
    text-align: center;
    margin-top: 20px;
}
nav li {
    display: inline-flex;
}
nav a { 
    text-decoration: none;
    color: white;
    padding: 20px;
    width: 150px;
}
nav li:hover {
    background-color: black;
}
img {
    width: 100%; 
    overflow: hidden;
    height: 300px;
}